# Data Science Tools and Ecosystem

In this notebook, Data Science and Ecosystem are summarized.

**Objectives:** 
- List popular languages for Data Science
- Commonly Used Libraries
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. Pandas
3. NumPy
4. Matplotlib
5. TensorFlow

| Data Science Tools |
|------------------|
| Anaconda Distribution|
| GitHub |
| RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [23]:
(3*4)+5 # this is a simple arithmetic expression to multiply then add inter

17

In [33]:
200/60 # This will convert 200 minutes to hours by diving 60.

3.3333333333333335

## Author
Alina Kenina